<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sqlite.tutorial">

    <!-- Require Permissions -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppBaseTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">

        <!--
        Prevents restarts activity when the below configuration changes.
        android:configChanges="layoutDirection|uiMode|locale|orientation|screenSize......."
        -->
        <activity
            android:name=".SQLiteActivity"
            android:configChanges="layoutDirection|locale|keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme.NoActionBar.StatusBar">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".InsertActivity"
            android:configChanges="layoutDirection|locale|keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme.NoActionBar.StatusBar" />

        <activity
            android:name=".UpdateActivity"
            android:configChanges="layoutDirection|locale|keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme.NoActionBar.StatusBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>